@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
a:hover { text-decoration: none; text-shadow: 0 0 9px skyblue; }
a{
  color:black;
  text-decoration: none;
}
 h1{
  font-size:45px;
  font-weight:600;
  font-family:'Parisienne', cursive;
  text-align:left;
  margin:0;
  padding:20px;
  padding-top:30px;
  padding-left:10px;
  padding-bottom:7px;
 }
 h2{
   font-size:25px;
   font-family:'Open Sans', sans-serif;
   text-align:center;
   font-weight:normal;
   color:#555555;
   padding-top:27px;
   margin-bottom:15px;
 }
 .ul_top{
  font-size:13px;
  font-family: 'Gothic A1', sans-serif;
  list-style-type:none;
  padding-bottom:10px;
  padding:top:50px;
  border-bottom:none;
 }
 ul{
   font-size:13px;
   font-family:'Gothic A1', sans-serif;
   border-bottom:1px solid gray;
   margin:0px;
   padding:0px;
   padding-top:15px;
   padding-bottom:15px;
   padding-left:10px;
   padding-left:10px;
   list-style-type:none;
 }
 li{
   float : left;
   margin:0px;
   padding-right:60px;
 }
 p{
   text-align:center;
   font-family:'Open Sans', sans-serif;
   font-size:15px;
   font-weight:100px;
   color:#666666;
 }
 #grid{
   display:grid;
   grid-template-columns: 1fr;
 }
 #grid_top{
   display:grid;
   grid-template-columns: 1fr 160px;
 }
 #passage p{

 }
